@font-face{
    font-family: 'maru';
    src: url('./../fonts/honoka-marugo/font_1_honokamarugo_1.1.ttf');
}

.main{
    font-family: 'maru';
}

.close-icon {
    font-size: 2.5rem;
    right: 1rem;
    margin: 1rem auto;
    color: rgb(66, 66, 66);
    padding-left: 17rem;
  }